@import url("./fonts.css");
@import url("./reset.css");
@import url("./skip.css");
#wrap {
  width: 100%;
  overflow: hidden;
}
#wrap #header {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
#wrap #header .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
#wrap #header .container .gap {
  height: 100%;
  padding: 0 15px;
}
#wrap #header .container .gap .content {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#wrap #header .container .gap .content .logo {
  width: 156px;
  margin: 0 350px 0 0;
}
#wrap #header .container .gap .content .logo a {
  width: 100%;
  display: block;
  margin: 20px 250px 20px 0;
}
#wrap #header .container .gap .content .logo a img {
  width: auto;
}
#wrap #header .container .gap .content .right {
  width: 100%;
}
#wrap #header .container .gap .content .right ul {
  display: flex;
}
#wrap #header .container .gap .content .right ul li {
  margin: 0 0 0 20px;
  font-size: 12px;
  font-weight: 500;
}
#wrap #header .container .gap .content .right ul li a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
#wrap #header .container .gap .content .right ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
#wrap #main {
  z-index: 2;
  position: relative;
  width: 100%;
}
#wrap #main #section1 {
  width: 100%;
  height: 1080px;
}
#wrap #main #section1 .container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url(../img/home-classic-corporate-banner.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #main #section1 .container::after {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#wrap #main #section1 .container .gap {
  padding: 0 15px;
}
#wrap #main #section1 .container .gap .content {
  width: 100%;
  display: inline-block;
  text-align: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
#wrap #main #section1 .container .gap .content h4 {
  display: inline-block;
  width: 30%;
  height: 23px;
  padding: 4px 17px;
  font-size: 13px;
  font-weight: 500;
  background: #2283d4;
  color: #fff;
  margin: 0 0 23px 0;
}
#wrap #main #section1 .container .gap .content h1 {
  width: 936px;
  font-size: 90px;
  font-weight: 700;
  color: #fff;
}
#wrap #main #section1 .container .gap .content h3 {
  padding: 4px 17px;
  font-size: 15px;
  font-weight: 300;
  margin: 23px 0;
  color: #ababab;
}
#wrap #main #section1 .container .gap .content button {
  color: #fff;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  margin: 25px 0 0 0;
  border: 4px solid #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: "Montserrat";
}
#wrap #main #section1 .container .gap .content button:hover {
  background: rgb(255, 255, 255);
  color: #000;
  cursor: pointer;
}
#wrap #main #section2 {
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #fff;
  height: 729px;
}
#wrap #main #section2 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section2 .container .gap .content {
  width: 100%;
}
#wrap #main #section2 .container .gap .content .right-box {
  width: 100%;
  padding: 130px 0;
  display: flex;
}
#wrap #main #section2 .container .gap .content .right-box img {
  width: 555px;
  height: 451.578px;
}
#wrap #main #section2 .container .gap .content .left-box {
  width: 421.219px;
  height: 467.531px;
  position: absolute;
  top: 0;
  padding: 130px 0;
  margin: 0 0 0 660px;
  justify-content: center;
  line-height: 23px;
}
#wrap #main #section2 .container .gap .content .left-box h2 {
  font-size: 24px;
  font-weight: 600;
  color: #2283d4;
  margin: 0 0 25px 0;
}
#wrap #main #section2 .container .gap .content .left-box h3 {
  margin: 0 0 25px 0;
  font-size: 18px;
  font-weight: 500;
}
#wrap #main #section2 .container .gap .content .left-box P {
  font-weight: 14px;
  font-family: "Roboto";
  margin: 0 0 10px 0;
  letter-spacing: 0.25px;
}
#wrap #main #section2 .container .gap .content .left-box h4 {
  font-weight: 14px;
  font-family: "Roboto";
  margin: 0 0 10px 0;
  letter-spacing: 0.25px;
}
#wrap #main #section2 .container .gap .content .left-box button {
  color: #000;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  margin: 25px 0 0 0;
  border: 4px solid #000;
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: "Montserrat";
}
#wrap #main #section2 .container .gap .content .left-box button:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}
#wrap #main #section3 {
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #000;
  height: 683.999px;
}
#wrap #main #section3 .container {
  width: 100%;
  height: 100%;
}
#wrap #main #section3 .container .gap .content {
  width: 100%;
}
#wrap #main #section3 .container .gap .content .right {
  width: 100%;
  position: relative;
}
#wrap #main #section3 .container .gap .content .right .col-gap-right {
  padding: 0 15px;
}
#wrap #main #section3 .container .gap .content .right .col-gap-right figure {
  position: absolute;
  top: 0;
  right: 0;
}
#wrap #main #section3 .container .gap .content .right .col-gap-right figure img {
  width: 951.5px;
  height: 684px;
}
#wrap #main #section3 .container .gap .content .left {
  width: 50%;
  padding: 77px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left {
  width: 100%;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a {
  width: 100%;
  height: 100;
  padding: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a:hover {
  border: 6px solid #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a > li {
  text-align: center;
  line-height: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a > li h2 {
  margin: 0 0 14px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a > li h2 i {
  font-size: 60px;
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a > li h3 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 7px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a > li h3:hover {
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .a > li p {
  font-size: 14px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b {
  width: 100%;
  height: 100;
  padding: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b:hover {
  border: 6px solid #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b > li {
  text-align: center;
  line-height: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b > li h2 {
  margin: 0 0 14px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b > li h2 i {
  font-size: 60px;
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b > li h3 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 7px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b > li h3:hover {
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .up-box .b > li p {
  font-size: 14px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c {
  width: 100%;
  height: 100;
  padding: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c:hover {
  border: 6px solid #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c > li {
  text-align: center;
  line-height: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c > li h2 {
  margin: 0 0 14px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c > li h2 i {
  font-size: 60px;
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c > li h3 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 7px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c > li h3:hover {
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .c > li p {
  font-size: 14px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d {
  width: 100%;
  height: 100;
  padding: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d:hover {
  border: 6px solid #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d > li {
  text-align: center;
  line-height: 24px;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d > li h2 {
  margin: 0 0 14px 0;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d > li h2 i {
  font-size: 60px;
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d > li h3 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 7px 0;
  transition: all 0.3s;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d > li h3:hover {
  color: #2283d4;
}
#wrap #main #section3 .container .gap .content .left .col-gap-left .bottom-box .d > li p {
  font-size: 14px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
#wrap #main #section4 {
  width: 100%;
  background-color: rgb(150, 225, 212);
  height: 1133px;
}
#wrap #main #section5 {
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #fff;
  height: 750.766px;
}
#wrap #main #section5 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section5 .container .gap {
  padding: 130px 0;
}
#wrap #main #section5 .container .gap .content {
  width: 100%;
}
#wrap #main #section5 .container .gap .content .title {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0 0 80px 0;
}
#wrap #main #section5 .container .gap .content .title h2 {
  font-size: 24px;
  font-weight: 600;
  color: #2283d4;
}
#wrap #main #section5 .container .gap .content .left-right {
  display: flex;
  text-align: center;
  justify-content: center;
}
#wrap #main #section5 .container .gap .content .left-right .left figure img {
  width: 652.5px;
  height: 365.578px;
}
#wrap #main #section5 .container .gap .content .left-right .right ul {
  text-align: left;
  width: 457.5px;
  height: 365.438px;
}
#wrap #main #section5 .container .gap .content .left-right .right ul li h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 25px 0;
  color: #000;
}
#wrap #main #section5 .container .gap .content .left-right .right ul li .icon-text div {
  display: flex;
}
#wrap #main #section5 .container .gap .content .left-right .right ul li .icon-text div i {
  font-size: 13px;
  font-weight: 100;
  color: #2283d4;
}
#wrap #main #section5 .container .gap .content .left-right .right ul li .icon-text div p {
  padding: 7px 0 7px 18px;
  font-size: 13px;
  font-family: "Roboto";
  border-bottom: 1px solid #e5e5e5;
  line-height: 23px;
}
#wrap #main #section5 .container .gap .content .left-right .right ul li button {
  color: #000;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  margin: 25px 0 0 0;
  border: 4px solid #000;
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: "Montserrat";
}
#wrap #main #section5 .container .gap .content .left-right .right ul li button:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}
#wrap #main #section6 {
  width: 100%;
  background-color: #000;
  height: 457.875px;
  position: relative;
  z-index: 3;
}
#wrap #main #section6 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section6 .container .gap {
  padding: 130px 0;
}
#wrap #main #section6 .container .gap .content {
  width: 100%;
  height: 100%;
}
#wrap #main #section6 .container .gap .content ul {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15PX;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box1 {
  padding: 15px;
  width: 100%;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box1:hover {
  border: 4px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box1 i {
  font-size: 40px;
  font-weight: 400;
  color: #9a9a9a;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box1 h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
  color: #fff;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box1 hr {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #2283d4;
  border: 0;
  margin: 15px 100px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box1 h4 {
  font-size: 14px;
  font-family: "Roboto";
  color: #ababab;
  line-height: 24px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box2 {
  padding: 15px;
  width: 100%;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box2:hover {
  border: 4px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box2 i {
  font-size: 40px;
  font-weight: 400;
  color: #9a9a9a;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box2 h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
  color: #fff;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box2 hr {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #2283d4;
  border: 0;
  margin: 15px 100px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box2 h4 {
  font-size: 14px;
  font-family: "Roboto";
  color: #ababab;
  line-height: 24px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box3 {
  padding: 15px;
  width: 100%;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box3:hover {
  border: 4px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box3 i {
  font-size: 40px;
  font-weight: 400;
  color: #9a9a9a;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box3 h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
  color: #fff;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box3 hr {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #2283d4;
  border: 0;
  margin: 15px 100px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box3 h4 {
  font-size: 14px;
  font-family: "Roboto";
  color: #ababab;
  line-height: 24px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box4 {
  padding: 15px;
  width: 100%;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box4:hover {
  border: 4px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box4 i {
  font-size: 40px;
  font-weight: 400;
  color: #9a9a9a;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box4 h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
  color: #fff;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box4 hr {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #2283d4;
  border: 0;
  margin: 15px 100px;
}
#wrap #main #section6 .container .gap .content ul li .col-gap .box4 h4 {
  font-size: 14px;
  font-family: "Roboto";
  color: #ababab;
  line-height: 24px;
}
#wrap #main #section7 {
  width: 100%;
  background-color: rgb(111, 200, 218);
  height: 318.875px;
  border-top: 1px solid #000;
}
#wrap #main #section8 {
  width: 100%;
  background-color: rgb(210, 227, 153);
  height: 500.001px;
}
#wrap #main #section9 {
  width: 100%;
  background-color: rgb(210, 190, 111);
  height: 723.984px;
}
#wrap #main #section10 {
  width: 100%;
  background: #f6f6f6;
  position: relative;
  z-index: 3;
  height: 874.5px;
}
#wrap #main #section10 .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
#wrap #main #section10 .container .gap {
  width: 100%;
  padding: 130px 0;
}
#wrap #main #section10 .container .gap .title {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0 0 80px 0;
}
#wrap #main #section10 .container .gap .title h2 {
  font-size: 24px;
  font-weight: 600;
  color: #2283d4;
}
#wrap #main #section10 .container .gap .content {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul {
  width: 100%;
  flex-flow: row wrap;
  display: flex;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li {
  width: 33.333333%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 {
  margin: 0 15px;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .img-box {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .img-box img {
  width: 360px;
  height: 247.047px;
  transition: all 0.3s;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .img-box img:hover {
  filter: grayscale(1);
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul {
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: center;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul li {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul li h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 28px 0 15px 0;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul li h3 a {
  color: #373737;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul li p {
  font-size: 13px;
  font-family: "Roboto";
  line-height: 23px;
  margin-bottom: 25px;
  color: #626262;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul li hr {
  height: 1px;
  background: #e2e2e2;
  border-bottom: 0;
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul li:last-child {
  margin-top: 25px;
  color: #999;
  font-size: 11px;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-1 .text-box ul li:last-child a {
  color: #999;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 {
  margin: 0 15px;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .img-box {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .img-box img {
  width: 360px;
  height: 247.047px;
  transition: all 0.3s;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .img-box img:hover {
  filter: grayscale(1);
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul {
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: center;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul li {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul li h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 28px 0 15px 0;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul li h3 a {
  color: #373737;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul li p {
  font-size: 13px;
  font-family: "Roboto";
  line-height: 23px;
  margin-bottom: 25px;
  color: #626262;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul li hr {
  height: 1px;
  background: #e2e2e2;
  border-bottom: 0;
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul li:last-child {
  margin-top: 25px;
  color: #999;
  font-size: 11px;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-2 .text-box ul li:last-child a {
  color: #999;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 {
  margin: 0 15px;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .img-box {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .img-box img {
  width: 360px;
  height: 247.047px;
  transition: all 0.3s;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .img-box img:hover {
  filter: grayscale(1);
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul {
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: center;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul li {
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul li h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 28px 0 15px 0;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul li h3 a {
  color: #373737;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul li p {
  font-size: 13px;
  font-family: "Roboto";
  line-height: 23px;
  margin-bottom: 25px;
  color: #626262;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul li hr {
  height: 1px;
  background: #e2e2e2;
  border-bottom: 0;
  width: 100%;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul li:last-child {
  margin-top: 25px;
  color: #999;
  font-size: 11px;
}
#wrap #main #section10 .container .gap .content .box123 > ul > li .box-3 .text-box ul li:last-child a {
  color: #999;
}
#wrap #main #section11 {
  width: 100%;
  background-color: rgb(147, 216, 211);
  height: 834.828px;
  border-bottom: 1px solid #000;
}
#wrap #main #section12 {
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #fff;
  height: 293.875px;
}
#wrap #main #section12 .container {
  width: 100%;
  margin: 0 auto;
}
#wrap #main #section12 .container .gap {
  padding: 80px 0;
}
#wrap #main #section12 .container .gap .content {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#wrap #main #section12 .container .gap .content .up {
  width: 100%;
  height: 100%;
}
#wrap #main #section12 .container .gap .content .up figure img {
  width: 156px;
  height: 30px;
}
#wrap #main #section12 .container .gap .content .middle {
  width: 100%;
  margin: 11px 0;
}
#wrap #main #section12 .container .gap .content .middle p {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 35px;
}
#wrap #main #section12 .container .gap .content .bottom a {
  margin: 0 20px;
}
#wrap #main #section12 .container .gap .content .bottom a i {
  font-size: 22px;
  font-weight: 500;
}
#wrap #footer {
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #e2e2e2;
  height: 83px;
}
#wrap #footer .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #footer .container .gap {
  padding: 30px 0;
}
#wrap #footer .container .gap .content {
  text-align: center;
}
#wrap #footer .container .gap .content .foot p {
  font-size: 11px;
  font-family: "Roboto";
  color: #626262;
  line-height: 20px;
}
#wrap .gotop {
  z-index: 3;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
#wrap .gotop a {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .gotop a i {
  font-size: 24px;
  margin: -7px 0 0 0;
}