@charset "UTF-8";
#wrap #section4 {
  width: 100%;
  height: 969px;
  background-color: #fff;
}
#wrap #section4 .container {
  width: 100%;
  max-width: 1542px;
  margin: 0 auto;
}
#wrap #section4 .container .gap {
  padding: 215px 0 0 0;
}
#wrap #section4 .container .gap .content {
  width: 100%;
}
#wrap #section4 .container .gap .content .text-box {
  width: 100%;
}
#wrap #section4 .container .gap .content .text-box ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
#wrap #section4 .container .gap .content .text-box ul > li {
  padding-bottom: 28px;
}
#wrap #section4 .container .gap .content .text-box ul > li h2 {
  font-size: 48px;
  color: #000;
  margin: 0 30px 0 0;
}
#wrap #section4 .container .gap .content .text-box ul > li span {
  font-size: 16px;
  color: #999;
}
#wrap #section4 .container .gap .content .text-box ul > li span i {
  width: 4px;
  height: 4px;
  color: #999;
  border-radius: 50%;
}
#wrap #section4 .container .gap .content .text-box ul > li .view {
  font-size: 14px;
  color: #000;
  margin-left: 490px;
}
#wrap #section4 .container .gap .content .slide-box {
  width: 100%;
  max-width: 1542px;
  height: 100%;
  position: relative;
}
#wrap #section4 .container .gap .content .slide-box .col-gap .slide-container {
  width: 100%;
  position: relative;
}
#wrap #section4 .container .gap .content .slide-box .col-gap .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#wrap #section4 .container .gap .content .slide-box .col-gap .slide-container .slide-view .slide-wrap-sec4 {
  display: flex;
  width: 300%;
  position: relative;
  height: 100%;
}
#wrap #section4 .container .gap .content .slide-box .col-gap .slide-container .slide-view .slide-wrap-sec4 .slide {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 528.953px;
  background: url() no-repeat 50% 50%;
  background-size: cover;
}
#wrap #section4 .container .gap .content .slide-box .col-gap .slide-container .slide-view .slide-wrap-sec4 .slide.slide1 {
  background-image: url(../img/main_dining_1542x540_문탠바.jpg);
}
#wrap #section4 .container .gap .content .slide-box .col-gap .slide-container .slide-view .slide-wrap-sec4 .slide.slide2 {
  background-image: url(../img/main_dining_1542x540_생어거스틴.jpg);
}
#wrap #section4 .container .gap .content .slide-box .col-gap .slide-container .slide-view .slide-wrap-sec4 .slide.slide3 {
  background-image: url(../img/main_dining_1542x540_콜라보.jpg);
}
#wrap #section4 .container .gap .content .slide-bottom {
  width: 100%;
  position: relative;
}
#wrap #section4 .container .gap .content .slide-bottom .bottom-container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1542px;
  height: 140px;
}
#wrap #section4 .container .gap .content .slide-bottom .bottom-container .bottom-gap {
  width: 100%;
  height: 60px;
  padding: 40px 60px 0 60px;
}
#wrap #section4 .container .gap .content .slide-bottom .bottom-container .bottom-gap .bottom-box123 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#wrap #section4 .container .gap .content .slide-bottom .bottom-container .bottom-gap .bottom-box123 .bottom-box {
  width: 431.938px;
  height: 100%;
}
#wrap #section4 .container .gap .content .slide-bottom .bottom-container .bottom-gap .bottom-box123 .bottom-box hr {
  width: 100%;
  height: 2px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
}
#wrap #section4 .container .gap .content .slide-bottom .bottom-container .bottom-gap .bottom-box123 .bottom-box a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}