@import url('./fonts.css');
@import url('./reset.css');
@import url('./skip.css');

// 중첩코딩
#wrap {
    width: 100%;
    overflow: hidden;
    #header {
        width: 100%;
        height: 75px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        background: rgba(0,0,0,0);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;
        .container{
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            height: 100%;
            position: relative;
            .gap{
                height: 100%;
                padding: 0 15px;
                .content{
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    .logo{
                        width: 156px;
                        margin: 0 350px 0 0;
                        a{
                            width: 100%;
                            display: block;
                            margin: 20px 250px 20px 0;
                            img{
                                width: auto;
                               
                            }                     
                        }
                    }
                    .right{
                        width: 100%;
                    
                        ul{
                            display: flex;;
                            
                            li{
                                margin: 0 0 0 20px;
                                font-size: 12px;
                                font-weight: 500;
                               
                                a{
                                    display: inline-block;
                                    margin: 0 10px ;
                                    color: #fff;
                                    &:hover{
                                        color: rgba(255,255,255,0.5);
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
       
    }

    #main {
        z-index: 2;
        position: relative;
        width: 100%;
        #section1{
            width: 100%;
            height:1080px;
            .container{
                height: 100%;
                width: 100%;
                margin: 0 auto;
                background: url(../img/home-classic-corporate-banner.jpg) no-repeat 50% 50%;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                &::after{
                    content: '';
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.3);
                }
                .gap{
                    padding: 0 15px;
                    .content{
                        width: 100%;
                        display: inline-block;
                        text-align: center;
                        justify-content: center;
                        position: relative;
                        z-index: 3;
                        h4{
                            display: inline-block;
                            width: 30%;
                            height: 23px;
                            padding: 4px 17px;
                            font-size: 13px;
                            font-weight: 500;
                            background: #2283d4;
                            color: #fff;
                            margin: 0 0 23px 0;
                        }
                        h1{
                            width: 936px;
                            font-size: 90px;
                            font-weight: 700;
                            color: #fff;
                        }
                        h3{
                            padding: 4px 17px;
                            font-size: 15px;
                            font-weight: 300;
                            margin: 23px 0;
                            color: #ababab;
                        }
                        button{
                            color: #fff;
                            padding: 10px 22px;
                            font-size: 14px;
                            font-weight: 600;
                            background-color: rgba(0,0,0,0);
                            margin: 25px 0 0 0;
                            border: 4px solid #fff;
                            text-transform: uppercase;
                            transition: all 0.3s;
                            font-family: 'Montserrat';
                            &:hover{
                                background: rgba(255,255,255,1);
                                color: #000;
                                cursor: pointer;
                            }
                            
                        }

                    }
                }
            }
        }

        #section2{
            position: relative;
            z-index: 3;
            width: 100%;
            background-color: #fff; 
            height: 469px + 260px ;
            .container{
                width: 100%;
                max-width: 1170px;
                margin: 0 auto;
                .gap{
                    .content{
                        width: 100%;
                        .right-box{
                            width: 100%;
                            padding: 130px 0 ;
                            display: flex;
                            img{
                                width: 555px;
                                height: 451.578px;
                                //padding: 0 40px 0 0;
                            }
                        }

                        .left-box{
                            width:421.219px;
                            height: 467.531px;
                            position: absolute;
                            top: 0;
                            padding: 130px 0 ;
                            margin: 0 0 0 660px;
                           justify-content: center;
                           line-height: 23px;
                            h2{
                                font-size: 24px;
                                font-weight: 600;
                                color: #2283d4;
                                margin: 0 0 25px 0 ;
                            }
                            h3{
                                margin: 0 0 25px 0;
                                font-size: 18px;
                                font-weight: 500;
                            }
                            P{
                                font-weight: 14px;
                                font-family: 'Roboto';
                                margin: 0 0 10px 0 ;
                                letter-spacing: 0.25px;
                            }
                            h4{
                                font-weight: 14px;
                                font-family: 'Roboto';
                                margin: 0 0 10px 0 ;
                                letter-spacing: 0.25px;
                            }
                            button{
                                color: #000;
                                padding: 10px 22px;
                                font-size: 14px;
                                font-weight: 600;
                                background-color: rgba(0,0,0,0);
                                margin: 25px 0 0 0;
                                border: 4px solid #000;
                                text-transform: uppercase;
                                transition: all 0.3s;
                                font-family: 'Montserrat';
                                &:hover{
                                    background: #000;
                                    color: #fff;
                                    cursor: pointer;
                                }
                                
                            }
                           
                        }
                    }
                }
            }
        }
        #section3{
            position: relative;
            z-index: 3;
            width: 100%;
            background-color:#000; 
            height:531.781px +76.109px + 76.109px ;
            .container{
                width: 100%;
                height: 100%;
                .gap{

                    .content{
                        width: 100%;
                        .right{
                            width: 100%;
                            position: relative;
                            .col-gap-right{
                                padding: 0 15px;
                                figure{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    img{
                                        width: 951.500px;
                                        height: 684px;
                                        
                                    }
                                }
                            }
                        }
                        .left{
                            width: 50%;
                            padding: 77px;
                            .col-gap-left{
                               // padding: 50px;
                                width: 100%;
                                .up-box{
                                    width: 100%;
                                    display: flex;
                                    text-align: center;
                                    justify-content: center;
                                    align-items: center;
                                    //margin: 0 0 70px 0;
                                    .a{
                                        width: 100%;
                                        height: 100;
                                        padding: 24px;
                                        &:hover{
                                            border: 6px solid #2283d4;
                                            //padding: 5px;
                                        }
                                       
                                         > li{ 
                                            text-align: center;
                                            line-height: 24px;
                                            h2{
                                                margin: 0 0 14px 0;
                                                i{ 
                                                    font-size: 60px;
                                                    color:#2283d4;
                                                    

                                                }
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                color: #fff;
                                                margin: 0 0 7px 0;
                                                &:hover{
                                                    color: #2283d4;
                                                }
                                            }
                                            p{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: rgba(255,255,255,0.5);
                                                margin: 0 0 10px 0;
                                            }

                                        }
                                    }
                                    .b{
                                        width: 100%;
                                        height: 100;
                                        padding: 24px;
                                        &:hover{
                                            border: 6px solid #2283d4;
                                            //padding: 5px;
                                        }
                                       
                                         > li{ 
                                            text-align: center;
                                            line-height: 24px;
                                            h2{
                                                margin: 0 0 14px 0;
                                                i{ 
                                                    font-size: 60px;
                                                    color:#2283d4;
                                                    

                                                }
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                color: #fff;
                                                margin: 0 0 7px 0;
                                                &:hover{
                                                    color: #2283d4;
                                                }
                                            }
                                            p{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: rgba(255,255,255,0.5);
                                                margin: 0 0 10px 0;
                                            }

                                        }
                                    }
 
 
                                }
                                .bottom-box{
                                    width: 100%;
                                    display: flex;
                                    text-align: center;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 15px 0 0 0 ;
                                    .c{
                                        width: 100%;
                                        height: 100;
                                        padding: 24px;
                                        &:hover{
                                            border: 6px solid #2283d4;
                                            //padding: 5px;
                                        }
                                       
                                         > li{ 
                                            text-align: center;
                                            line-height: 24px;
                                            h2{
                                                margin: 0 0 14px 0;
                                                i{ 
                                                    font-size: 60px;
                                                    color:#2283d4;
                                                    

                                                }
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                color: #fff;
                                                margin: 0 0 7px 0;
                                                &:hover{
                                                    color: #2283d4;
                                                }
                                            }
                                            p{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: rgba(255,255,255,0.5);
                                                margin: 0 0 10px 0;
                                            }

                                        }
                                    }
                                    .d{
                                        width: 100%;
                                        height: 100;
                                        padding: 24px;
                                        &:hover{
                                            border: 6px solid #2283d4;
                                            //padding: 5px;
                                        }
                                       
                                         > li{ 
                                            text-align: center;
                                            line-height: 24px;
                                            h2{
                                                margin: 0 0 14px 0;
                                                i{ 
                                                    font-size: 60px;
                                                    color:#2283d4;
                                                    

                                                }
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                color: #fff;
                                                margin: 0 0 7px 0;
                                                transition: all 0.3s;
                                                &:hover{
                                                    color: #2283d4;
                                                }
                                            }
                                            p{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: rgba(255,255,255,0.5);
                                                margin: 0 0 10px 0;
                                            }

                                        }
                                    }
 
 
                                }
                            }
                        }
                    }
                }
            }
        }
        #section4{
            width: 100%;
            background-color:rgb(150, 225, 212); 
            height:873px + 260px ;
        }
        #section5{
            position: relative;
            z-index: 3;
            width: 100%;
            background-color: #fff;
            height: 490.766px + 260px;
           .container{
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
          
            .gap{
                padding: 130px 0 ;

                .content{
                    width: 100%;
                    
                    .title{
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        padding: 0 0 80px 0;
                        h2{
                            font-size: 24px;
                            font-weight: 600;
                            color: #2283d4;
                        }
                    }
                    .left-right{
                        display: flex;
                        text-align: center;
                        justify-content: center;
                    
                        
                        .left{
                            figure{
                                img{width: 652.500px;
                                    height: 365.578px;}
                            }
                        }
                        .right{
                          
                            ul{
                                text-align: left;
                                width: 457.500px;
                                height: 365.438px;
                                li{

                                    h2{
                                        font-size: 32px;
                                        font-weight: 700;
                                        margin: 0 0 25px 0;
                                        color: #000;
                                    }
                                    .icon-text{
                                        
                                      div{
                                        display: flex;
                                            i{
                                                font-size: 13px;
                                                font-weight: 100;
                                                color: #2283d4;;
                                              }
                                              p{

                                                padding: 7px 0 7px 18px;
                                                font-size: 13px;
                                                font-family: 'Roboto';
                                                border-bottom: 1px solid #e5e5e5;
                                                line-height: 23px;
                                            }
                                        }
                                    }

                                    button{
                                        color: #000;
                                        padding: 10px 22px;
                                        font-size: 14px;
                                        font-weight: 600;
                                        background-color: rgba(0,0,0,0);
                                        margin: 25px 0 0 0;
                                        border: 4px solid #000;
                                        text-transform: uppercase;
                                        transition: all 0.3s;
                                        font-family: 'Montserrat';
                                        &:hover{
                                            background: #000;
                                            color: #fff;
                                            cursor: pointer;
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
           } 
        }
        #section6{
            width: 100%;
            background-color:#000; 
            height: 457.875px;
            position: relative;
            z-index: 3;
                .container{
                    width: 100%;
                    max-width: 1170px;
                    margin: 0 auto;
                    .gap{
                        padding: 130px 0 ;
                        .content{
                            width: 100%;
                            height: 100%;
                            
                            ul{
                                display: flex;
                                width: 100%;
                                text-align: center;
                                justify-content: center;
                                align-items: center;
                                padding: 15PX;
                                li{
                                    .col-gap{
                                        .box1{
                                            padding: 15px;
                                            width: 100%;
                                            &:hover{
                                                border: 4px solid rgba(255,255,255,0.2);
                                                padding: 15px;
                                            }
                                            i{
                                                font-size: 40px;
                                                font-weight: 400;
                                                color: #9a9a9a;
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                line-height: 24px;
                                                margin-bottom: 5px;
                                                color: #fff;
                                            }
                                            hr{
                                                display: inline-block;
                                                width: 30px;
                                                height: 4px;
                                                background-color: #2283d4;
                                                border: 0;
                                                margin: 15px 100px; 
                                            }
                                            h4{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: #ababab;
                                                line-height: 24px
                                            };
                                        }
                                    }
                                    .col-gap{
                                        .box2{
                                            padding: 15px;
                                            width: 100%;
                                            &:hover{
                                                border: 4px solid rgba(255,255,255,0.2);
                                                padding: 15px;
                                            }
                                            i{
                                                font-size: 40px;
                                                font-weight: 400;
                                                color: #9a9a9a;
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                line-height: 24px;
                                                margin-bottom: 5px;
                                                color: #fff;
                                            }
                                            hr{
                                                display: inline-block;
                                                width: 30px;
                                                height: 4px;
                                                background-color: #2283d4;
                                                border: 0;
                                                margin: 15px 100px; 
                                            }
                                            h4{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: #ababab;
                                                line-height: 24px
                                            };
                                        }
                                    }
                                    .col-gap{
                                        .box3{
                                            padding: 15px;
                                            width: 100%;
                                            &:hover{
                                                border: 4px solid rgba(255,255,255,0.2);
                                                padding: 15px;
                                            }
                                            i{
                                                font-size: 40px;
                                                font-weight: 400;
                                                color: #9a9a9a;
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                line-height: 24px;
                                                margin-bottom: 5px;
                                                color: #fff;
                                            }
                                            hr{
                                                display: inline-block;
                                                width: 30px;
                                                height: 4px;
                                                background-color: #2283d4;
                                                border: 0;
                                                margin: 15px 100px; 
                                            }
                                            h4{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: #ababab;
                                                line-height: 24px
                                            };
                                        }
                                    }
                                    .col-gap{
                                        .box4{
                                            padding: 15px;
                                            width: 100%;
                                            &:hover{
                                                border: 4px solid rgba(255,255,255,0.2);
                                                padding: 15px;
                                            }
                                            i{
                                                font-size: 40px;
                                                font-weight: 400;
                                                color: #9a9a9a;
                                            }
                                            h3{
                                                font-size: 14px;
                                                font-weight: 600;
                                                line-height: 24px;
                                                margin-bottom: 5px;
                                                color: #fff;
                                            }
                                            hr{
                                                display: inline-block;
                                                width: 30px;
                                                height: 4px;
                                                background-color: #2283d4;
                                                border: 0;
                                                margin: 15px 100px; 
                                            }
                                            h4{
                                                font-size: 14px;
                                                font-family: 'Roboto';
                                                color: #ababab;
                                                line-height: 24px
                                            };
                                        }
                                    }
                                }       
                                }
                            }
                        }
                    }
        }   
        #section7{
            width: 100%;
            background-color:rgb(111, 200, 218); 
            height:58.875px + 260px ;
            border-top: 1px solid #000;
        }
        #section8{
            width: 100%;
            background-color:rgb(210, 227, 153); 
            height:309.719px + 95.141px + 95.141px ;
        }
        #section9{
            width: 100%;
            background-color:rgb(210, 190, 111); 
            height: 463.984 + 260px ;
        }
        #section10{
            width: 100%;
            background:#f6f6f6;
            position: relative;
            z-index: 3;
            height: 614.500px + 260px ;
            .container{
                width: 100%;
                margin: 0 auto;
                max-width: 1170px;
                .gap{
                    width: 100%;
                    padding: 130px 0 ;
                    .title{
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        padding: 0 0 80px 0;
                        h2{
                            font-size: 24px;
                            font-weight: 600;
                            color: #2283d4;
                        }
                    }
                    .content{
                        width: 100%;
                        .box123{
                            width: 100%;
                            > ul{
                                width: 100%;
                                flex-flow: row wrap;
                                display: flex;
                                > li{
                                    width: 33.333333%;
                                    .box-1{
                                        margin: 0 15px;
                                        .img-box{
                                            width: 100%;
                                            img{
                                                width: 360px;
                                                height: 247.047px;
                                                transition: all 0.3s;
                                                &:hover{
                                                    filter: grayscale(1);
                                                }
                                                
                                            }
                                        }
                                        .text-box{
                                            width: 100%;
                                           ul{
                                            width: 100%;
                                            text-align: left;
                                            justify-content: center;
                                            align-items: center;
                                            li{
                                                width: 100%;
                                                h3{
                                                    font-size: 15px;
                                                    font-weight: 600;
                                                    margin: 28px 0 15px 0;
                                                    a{
                                                        color: #373737;
                                                    }
                                                }
                                                
                                                p{
                                                    font-size: 13px;
                                                    font-family: 'Roboto';
                                                    line-height: 23px;
                                                    margin-bottom: 25px;
                                                    color: #626262;
                                                }
                                                hr{
                                                    height: 1px;
                                                    background: #e2e2e2;
                                                    border-bottom: 0;
                                                    width: 100%;
                                                  
                                                }
                                                &:last-child{
                                                    margin-top: 25px;
                                                    color: #999; 
                                                    font-size: 11px;
                                                    a {                                                                                                            
                                                        color: #999;                                                        
                                                    }

                                            }
                                           }

                                        }
                                        }
                                    }
                                    .box-2{
                                        margin: 0 15px;
                                        .img-box{
                                            width: 100%;
                                            img{
                                                width: 360px;
                                                height: 247.047px;
                                                transition: all 0.3s;
                                                &:hover{
                                                    filter: grayscale(1);
                                                }
                                                
                                            }
                                        }
                                        .text-box{
                                            width: 100%;
                                           ul{
                                            width: 100%;
                                            text-align: left;
                                            justify-content: center;
                                            align-items: center;
                                            li{
                                                width: 100%;
                                                h3{
                                                    font-size: 15px;
                                                    font-weight: 600;
                                                    margin: 28px 0 15px 0;
                                                    a{
                                                        color: #373737;
                                                    }
                                                }
                                                
                                                p{
                                                    font-size: 13px;
                                                    font-family: 'Roboto';
                                                    line-height: 23px;
                                                    margin-bottom: 25px;
                                                    color: #626262;
                                                }
                                                hr{
                                                    height: 1px;
                                                    background: #e2e2e2;
                                                    border-bottom: 0;
                                                    width: 100%;
                                                  
                                                }
                                                &:last-child{
                                                    margin-top: 25px;
                                                    color: #999; 
                                                    font-size: 11px;
                                                    a {                                                                                                            
                                                        color: #999;                                                        
                                                    }

                                            }
                                           }

                                        }
                                        }
                                    }
                                    .box-3{
                                        margin: 0 15px;
                                        .img-box{
                                            width: 100%;
                                            img{
                                                width: 360px;
                                                height: 247.047px;
                                                transition: all 0.3s;
                                                &:hover{
                                                    filter: grayscale(1);
                                                }
                                                
                                            }
                                        }
                                        .text-box{
                                            width: 100%;
                                           ul{
                                            width: 100%;
                                            text-align: left;
                                            justify-content: center;
                                            align-items: center;
                                            li{
                                                width: 100%;
                                                h3{
                                                    font-size: 15px;
                                                    font-weight: 600;
                                                    margin: 28px 0 15px 0;
                                                    a{
                                                        color: #373737;
                                                    }
                                                }
                                                
                                                p{
                                                    font-size: 13px;
                                                    font-family: 'Roboto';
                                                    line-height: 23px;
                                                    margin-bottom: 25px;
                                                    color: #626262;
                                                }
                                                hr{
                                                    height: 1px;
                                                    background: #e2e2e2;
                                                    border-bottom: 0;
                                                    width: 100%;
                                                  
                                                }
                                                &:last-child{
                                                    margin-top: 25px;
                                                    color: #999; 
                                                    font-size: 11px;
                                                    a {                                                                                                            
                                                        color: #999;                                                        
                                                    }

                                            }
                                           }

                                        }
                                        }
                                    }
                                 }
                            }

                        }
                    }
                 }


            }
        } 
        #section11{
            width: 100%;
            background-color:rgb(147, 216, 211);
            height: 574.828px +260px; 
            border-bottom: 1px solid #000;
        }
        #section12{
            position: relative;
            z-index: 3;
            width: 100%;
            background-color:#fff;
            height: 133.875px + 160px ;
            .container{
                width: 100%;
                margin: 0 auto;
                
                .gap{
                    padding: 80px 0; 
                    .content{
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        .up{
                            width: 100%;
                            height: 100%;
                            figure{
                                img{
                                    width: 156px;
                                    height: 30px;
                                }
                            }
                        }
                        .middle{
                            width: 100%;
                            margin: 11px 0 ;
                            p{
                                font-size: 11px;
                                font-weight: 500;
                                margin-bottom: 35px;

                            }
                        }
                        .bottom{
                            a{
                                margin: 0 20px ;
                                i{
                                    font-size: 22px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    #footer{
        position: relative;
        z-index: 3;
        width: 100%;
        background-color :#e2e2e2;
        height: 83px;
        .container{
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            .gap{
                padding:30px 0 ;
                .content{
                    text-align: center;
                    .foot{
                        p{
                            font-size: 11px;
                            font-family: 'Roboto';
                            color: #626262;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

    .gotop {
        z-index: 3;
        position: fixed;
        right: 40px;
        bottom: 40px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        a {
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,1);
            color: #fff;            
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 24px; 
                margin: -7px 0 0 0;
            }
        }
    }
}
